## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Kodiak,US,55.89,few clouds,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
1,6,Kristiinankaupunki,FI,53.28,few clouds,62.2743,21.3760,Hotel Alma
2,9,East London,ZA,62.28,clear sky,-33.0153,27.9116,Tu Casa
3,16,Codrington,AU,57.27,overcast clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
4,18,New Norfolk,AU,57.92,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Hellin']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Hellin']
vacation_stop1 = vacation_df.loc[vacation_df['City'] =='Arnedo']
vacation_stop2 = vacation_df.loc[vacation_df['City'] =='Alcaniz'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] =='Barcelona']

vacation_start[['Lat', 'Lng']].iloc[0]

Lat    38.5106
Lng    -1.7010
Name: 42, dtype: float64

In [32]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat', 'Lng']].iloc[0].to_numpy()
end = vacation_end[['Lat', 'Lng']].iloc[0].to_numpy()
stop1 = vacation_stop1[['Lat', 'Lng']].iloc[0].to_numpy()
stop2 = vacation_stop2[['Lat', 'Lng']].iloc[0].to_numpy()
stop3 = vacation_stop3[['Lat', 'Lng']].iloc[0].to_numpy()

In [33]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
spain_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(spain_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,144,Hellin,ES,64.18,clear sky,38.5106,-1.7010,Hotel-restaurante Emilio
1,144,Hellin,ES,64.18,clear sky,38.5106,-1.7010,Hotel-restaurante Emilio
2,99,Arnedo,ES,58.42,clear sky,42.2167,-2.1000,Hotel Virrey
3,487,Alcaniz,ES,66.09,clear sky,41.0500,-0.1333,Hotel Ciudad de Alcañiz
4,290,Barcelona,ES,68.97,few clouds,41.3888,2.1590,Axel Hotel Barcelona

In [38]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))